@charset "UTF-8";
@import "normalize.css";

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  position: relative;
  min-height: 100%;
}

@font-face {
  font-family: "Falling Sky Bold";
  src: url("/fonts/FallingSkyBd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Falling Sky Black";
  src: url("/fonts/FallingSkyBlk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MillerText Roman";
  src: url("/fonts/MillerText-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MillerText Bold Italic";
  src: url("/fonts/MillerText-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MillerText Italic";
  src: url("/fonts/MillerText-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #121212;
  background-image: url("/stripe.svg") !important;
  background-size: 350px 1px;
  margin: 0 !important;
}

a {
  text-decoration: none;
  transition: all 0.2s linear;
}

li {
  list-style-type: none;
}

.singlePost {
  background-color: #f4f4f4 !important;
  background-image: url("/blackstripe.svg") !important;
  background-size: 350px 1px;
}

.sectionContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.singlePostContent {
  width: 100%;
  max-width: 740px;
  font-size: 20px;
  line-height: 32px;
  margin: auto;
  color: #3a3a3a;
}

.singlePost h2 {
  display: none;
}

.singlePost h3 {
  font-family: "MillerText Bold Italic", Arial, sans-serif;
  font-size: 38px;
  color: #121212;
  letter-spacing: 0;
  line-height: 52px;
  width: 80%;
  margin: 20px auto 50px auto;
}

.singlePost img {
  display: block;
  width: 100%;
  height: auto;
  margin: 30px 0;
}

.singlePost p {
  font-size: 20px;
  line-height: 32px;
  width: 100%;
  color: #3a3a3a;
}

.singlePost a {
  color: #d4216b;
}

.singlePost a:hover {
  color: #121212;
}

.iframeContainer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin: 30px 0;
}

.iframeContainer iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.singlePostFooter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f4f4f4;
}

.singlePostFooter p {
  font-size: 18px;
  color: #121212;
  display: flex;
  flex: 1;
  justify-content: center;
}

.footer {
  display: flex;
  background-color: #000000;
  height: 90px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

.footer a {
  color: rgba(255, 255, 255, 0.5);
}

.footer a:hover,
.footer a:active {
  color: #d4216b;
}

.footer .footerContent {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery img {
  border: none !important;
}

.react-reveal {
  width: 100%;
}

.singlePostContent form input {
  width: 100%;
  font-size: 14px;
  padding: 20px;
  height: 36px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  transition: border 0.2s linear;
}

.singlePostContent form input:focus {
  outline: 0;
  border: 1px solid #d4216b;
}

.singlePostContent form button {
  padding: 18px 30px;
  border: none;
  background: #d4216b;
  color: white;
  font-size: 12px;
  font-family: "Falling Sky Bold", Arial, sans-serif;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

.singlePostContent form button:focus {
  outline: 0;
}
.singlePostContent form button:hover {
  background: #121212;
  cursor: pointer;
}

/** ====================================== **
                MEDIA QUERIES
** ======================================= */

@media screen and (max-width: 575px) {
  .singlePost h3 {
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto 30px auto;
  }

  .singlePost p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .singlePostContent {
    padding: 0 20px;
  }
}
